#bloglist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    h1 {
        margin: 100px 0 50px 0;
    }
    .blog_card{
        border: 2px solid black;
        display: flex;
        width: 400px;
        height: auto;
        background-color: #333333;
        img {
            object-fit: cover;
        }
        .card-title {
            font-size: 22px;
            font-family: 500;
            color: cornflowerblue;
        }
    }
}

//addblog
#addblog, #editblog {
    width: 100%;
    background-image: url('https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    h1{
        font-size: 40px;
        margin-top: 140px;
        margin-bottom: 30px;
    }
    form {
        width: 65%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        input {
            width: 90%;
            padding: 10px;
            border: 2px solid #333333;
            &:focus{
                outline: none;
            }
        }
        button{
            width: 100px;
            height: 35px;
            background: -webkit-linear-gradient( top, #6fa720 5%, #588a1b 95%);;
            border: 2px solid black;
            font-size: 15px;
            color: white;
            filter: brightness(80%);
            &:hover{
                filter: brightness(100%);
            }
        }

    }
}

#editblog {
    form {
        button{
            width: auto;
            height: auto;
            padding: 10px;
        }
        button:nth-child(2){
            background: #a30000;
            margin-left: 10px;
        }
    }
    
}