#cart {
    display: flex;
    justify-content: center;
    height: auto;
    .singlecart {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: 50px;
        .cart {
            display: flex;
            align-items: center;
            // background: linear-gradient(-60deg, rgba(16, 87, 14, 0.3) 1%, rgba(84, 115, 103, 0.3) 125%);
            border-radius: 50px;
            width: 100%;
            height: 250px;
            h5 {
                color: white;
                font-weight: 400;
            }
            img {
                margin-top: 10px;
                width: 250px;
                height: 130px;
                border-radius: 3px;
            }
            .cartinfo {
                width: 100%;
                height: auto;
                margin-left: 10px;
                padding: 10px;
                h5 {
                    font-size: 18px;
                }
                button {
                    background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
                    border: 2px solid black;
                    padding: 5px 20px;
                    color: white;
                    filter: brightness(80%);
                    &:hover {
                        filter: brightness(100%);
                    }
                }
                .discount {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: auto;
                    padding: 5px 8px;
                    font-size: 14px;
                    background-color: #4c6b22;
                    color: #beee11;
                    border-left: 2px solid black;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                }
                .prices {
                    position: relative;
                    border: 2px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: auto;
                    padding: 5px 8px;
                    background-color: #344654;
                    color: #beee11;
                    .original_price {
                        position: absolute;
                        top: -10px;
                        right: 0;
                        font-size: 8px;
                        position: relative;
                        color: #738895;
                        &::before {
                            content: "";
                            left: 0px;
                            right: 0px;
                            position: absolute;
                            top: 43%;
                            border-bottom: 1.5px solid #738895;
                            transform: skewY(-8deg);
                            box-shadow: 0 0 2px black;
                        }
                    }
                    .price {
                        font-size: 14px;
                    }
                }
            }
            .btns {
                display: flex;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
                    border-radius: 12px;
                    margin: 5px 0 5px 10px;
                    width: 50px;
                    height: 50px;
                    color: black;
                    box-shadow: 1px 1px;
                    transform: translate(-2px, -2px);
                    &:active {
                        transform: translate(0, 0);
                        box-shadow: 0 0;
                    }
                }
                button:nth-child(1) {
                    background-color: gray;
                }
                button:nth-child(2) {
                    background-color: cornflowerblue;
                }
            }
            .del {
                width: 70px;
                height: 40px;
                border: 1px solid black;
                box-shadow: 1px 1px;
                background-color: gray;
                margin-left: 10px;                border-radius: 10px;
                transform: translate(-2px, -2px);
                &:active {
                    transform: translate(0, 0);
                    box-shadow: 0 0;
                }
            }
            .item_quantity {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    .cart-title {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: start;
        font-size: 10px;
        color: cornflowerblue;
        h1 {
            margin: 10px;
            font-size: 38px;
            font-weight: 900;
            color: cornflowerblue;
            text-align: center;
        }
    }

    .delall {
        margin: 50px 0;
        border: 1px solid black;
        color: black;
        background-color: gray;
        border-radius: 10px;
        box-shadow: 1px 1px;
        transform: translate(-2px, -2px);
        &:active {
            transform: translate(0, 0);
            box-shadow: 0 0;
        }
    }
}

.emptycart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
@media screen and (max-width: 768px) {
    .cart-title-child {
        display: flex;
        flex-direction: column;
        // display: none
        .your, .shopping, .cart {
            display: flex;
        }
    }
}

@media screen and (max-width: 992px) {
    .cart {
        .btns {
            button {
                width: 35px !important;
                height: 35px !important ;
            }
        }
        .del {
            width: 50px !important;
            height: 35px !important;
        }
    }
}
