.dark {
    background-color: black;
}
#navdark {
    background: linear-gradient(to bottom, black 15%, transparent 100%);
    z-index: 10;
    width: 100%;
    position: fixed;
    font-size: 16px;
}