
#globe {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#mode, .fa-globe {
    background-color: transparent;
    border: 1px solid #171A21;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.navl{
    color: cornflowerblue;
}
.profile {
    position: relative;
    display: flex;
    align-items: center;
    span {
        position: absolute;
        top: 3px;
        margin-left: 3px;
        color: white !important;
        font-size: 13px;
        color: cornflowerblue !important;
    }
}