@import "light";
@import "dark";

@import "login";
@import "navbar";
@import "search";
@import "feature";
@import "about";
@import "support";
@import "heros";
@import 'singlegame';
@import 'game';
@import 'cart';
@import 'blog';
@import 'dashboard';
@import '404';

body {
    width: 100%;
    height: auto;
    color: white !important; 
    a {
        text-decoration: none;
    }
}